@import './header.css';

@import './viewer.css';
@import './animation.css';

@import '../pages/home/home.css';
@import '../pages/editor/editor.css';
@import '../pages/upload/upload.css';
@import '../pages/cardEditor/cardEditor.css';
@import '../pages/alevel/notes/main/main.css';
@import '../pages/alevel/notes/module/module.css';

@import '../pages/alevel/resources/main/main.css';
@import '../pages/alevel/resources/editor/editor.css';
@import '../pages/alevel/resources/viewer/viewer.css';

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', 'Helvetica Neue', Roboto, Lato, Ubuntu, Calibri, sans-serif;
}

.display-none {
    display: none;
}

#MathJax_Message {
    display: none;
}