<div id="home">
    <div id="overlay">

        <h1 class="animated fadeInDown">jameswalker.net</h1>

        <div id="container">
            <div class="card animated fadeInLeft">
                <h2>A-Level</h2>

                <a href="#/" ng-click="switch('alevelnotes')">A-level notes</a>
                <a href="#/" ng-click="switch('alevelresources')">A-level resources</a>
                <a href="https://jameswalker.net/umscalculator/">MEI Maths module UMS calculator</a>
                <a href="https://jameswalker.net/alevel/quiz/?name=chem">AS Chemistry multiple-choice quiz</a>
            </div>

            <div class="card animated fadeInRight">
                <h2>GCSE</h2>

                <a href="/gcse/">GCSE notes</a>
            </div>

            <div class="card animated fadeInRight">
                <h2>Tools</h2>

                <a href="https://play.google.com/store/apps/details?id=net.jameswalker.pastpapertracker" target="_blank">
                    Past paper score tracker (Android app)
                </a>
            </div>

            <div class="card animated fadeInLeft">
                <strong>Contact</strong>: jamesdwalker10@gmail.com
                
                <br><br>

                <a href="https://github.com/jamesdwalker/jameswalker.net" target="_blank">jameswalker.net source code on GitHub</a>
            </div>
        </div>

    </div>
</div>