<div id="home">
    <div id="overlay">

        <h1 class="animated fadeInDown">jameswalker.net</h1>

        <div id="container">
            <div class="card animated fadeInLeft">
                <h2>A-Level</h2>

                <a href="#/" ng-click="switch('alevelnotes')">A-level notes</a>
                <a href="#/" ng-click="switch('alevelresources')">A-level resources</a>
            </div>

            <div class="card animated fadeInRight">
                <h2>GCSE</h2>

                <a href="/gcse/">GCSE notes</a>
            </div>

            <div class="card animated fadeInLeft">
                <strong>Contact</strong>: jamesdwalker10@gmail.com
                
                <br><br>

                <a href="https://github.com/jamesdwalker/jameswalker.net" target="_blank">jameswalker.net source code on GitHub</a>
            </div>
        </div>

    </div>
</div>