<div id="alevel-notes-viewer" style="background: {{ bgColour }}">

    <div id="back" ng-click="back()" class="animated fadeInLeft">Back</div>

    <div id="toolbar" class="{{ (toolbarDown ? 'fixed' : '') }} animated fadeInDown">
        <span class="btn" ng-click="print()">Print page</span>
        <span class="btn" ng-click="toggleWarm()">Toggle warm background</span>
        <select ng-model="font" ng-change="fontChanged()">
            <option>Default Font</option>
            <option ng-repeat="font in fontOptions">{{ font }}</option>
        </select>
    </div>

    <div id="toolbar-expand" ng-mouseover="tempShowToolbar()" class="animated-long fadeInDown">▼</div>

    <div id="note-container" class="viewer display-none">
        <h2>LOADING</h2>
    </div>
</div>